<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="foo" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\python\python38\python.exe|C:\python\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <!-- appSettings节点需要手工添加 -->
    <appSettings>
        <!-- 2个必须要有的参数： 
        @WSGI_HANDLER：fastCGI获得请求后调用的flask应用入口。
        @PYTHONPATH: 执行整个应用的项目目录
        -->
        <add key="WSGI_HANDLER" value="foo.app" />
        <add key="PYTHONPATH" value="C:\Users\Administrator\Desktop\pdf2jsonTest\pdf2json" />
        <!-- 可选参数， 我这里就配置一个日志文件，其他应该参考 https://pypi.org/project/wfastcgi/ -->
        <add key="WSGI_LOG" value="C:\Users\Administrator\Desktop\pdf2jsonTest\pdf2json\log\flaskr_web.log" />
    </appSettings>
</configuration>
